/*FONTS*/

@font-face {
    font-family: moonlig;
    src: url("fonts/Moon2.0-Light.otf")
}

@font-face {
    font-family: moonreg;
    src: url("fonts/Moon2.0-Regular.otf")
}

@font-face {
    font-family: moonbold;
    src: url("fonts/Moon2.0-Bold.otf")
}


/*CSS FOR NAVBAR*/


.navbar {
    position: fixed;
    display: block;
    background-color: #F8F8FF;
    width: 100%;
    height: 48px;
    z-index:1;
    
}

.button {
    position: fixed !important;
    right:0;
    height: 48px;
    z-index:100 !important;
    
    
}

.button img {
    position: relative;
    top:50%;
    transform:translateY(-50%);
    display: inline-block;
    width: 50px;
    
    
}

/*CSS FOR DROPDOWN*/

.dropmenu {
    position: fixed;
    display:none;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    padding:50px;
    color:white;
}

.dropmenu a {
    font-family:moonbold;
    color:white !important;
}

.dropmenu .items h2 {
    margin-bottom:30px;
}

.dropmenu h5 {
    font-family: moonlig;
}





