@media(min-width:321px) {
    #intro h1 {
        font-size: 80px;
    }
}






@media(min-width:650px) and (max-width:800px) {
    .top,
    .bottom {
        width: 630px;
    }

    #large {
        width: 630px;
    }

    #small,
    .sub,
    .remove {
        display: inline-block;
        width: 300px;

    }

    .remove {
        margin-left: 25px;

    }

    .sub {
        margin-left: 25px;
    }

    .sections [id] div {
        width: 500px;
    }





}

@media (min-width:801px) and (max-width:970px) {

    .top,
    .bottom {
        width: 780px;
    }

    #large {
        width: 780px;
    }

    #small,
    .sub {
        display: inline-block;
        width: 375px;
    }

    .remove {
        margin-left: 25px;
    }

    .sub {
        margin-left: 25px;
    }

    .sections [id] div {
        display: inline-block;
        width: 250px;
        margin: 3.35px;
    }



}

@media (min-width:971px) and (max-width:1050px) {
    .top,
    .bottom {
        width: 951px;
    }

    #large {
        width: 951px;
    }

    #small {

        display: inline-block;
        width: 300px;
    }

    .remove {
        margin-right: 19px;
        margin-left: 19px;
    }

    .sections [id] div {
        display: inline-block;
        width: 300px;
        margin: 3.35px;
    }


}

@media(min-width:1051px) {
    .top,
    .bottom {
        width: 1031px;

    }

    #large {
        width: 1031px;
    }

    #small {
        display: inline-block;
        width: 326.5px;
    }

    .remove {
        margin-right: 20px;
        margin-left: 20px;
    }

    .sections [id] div {
        display: inline-block;
        width: 333px;
        margin: 3.35px;
    }

    #intro h1 {
        font-size: 100px;
    }


}

@media(min-width:1300px) {
    .sections [id] div {
        display: inline-block;
        width: 400px;
        margin: 10px;
    }



}
